{% extends 'base.html' %}
{% load static %}

{% block title %}Withdrawals{% endblock %}

{% block content %}
<!-- Main Section Start -->
		<div class="main-section">
			<div class="page-section restaurant-detail-image-section" style=" background: url({% static 'extra-images/cover-photo01.jpg' %}) no-repeat scroll 0 0 / cover;">
				<!-- Container Start -->
				<div class="container">
					<!-- Row Start -->
					<div class="row">
						<!-- Column Start -->
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="company-info-detail">
								<div class="company-info">
									<div class="img-holder">
										<figure>
											<img src="{% static 'extra-images/listing-logo18.png' %}" alt="">
										</figure>
									</div>
									<div class="text-holder">
										<span class="restaurant-title">Restaurant Demo</span>
										<div class="text">
											<i class="icon-local_pizza"></i>
											<p>Apple Juice</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Column End -->
					</div>
					<!-- Row End -->
				</div>
				<!-- Container End -->
			</div>
			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="user-account-nav user-account-sidebar">
								<div class="user-nav-list">
									<ul>
										<li><a href="restaurant-dashboard.html"><i class="icon-dashboard3"></i>Dashboard</a></li>
										<li><a href="restaurant-restaurant.html"><i class="icon-building"></i>My Restaurant</a></li>
										<li><a href="restaurant-menu-builder.html"><i class="icon-menu5"></i>Menu Builder</a></li>
										<li><a href="restaurant-orders.html"><i class="icon-add_shopping_cart"></i>Orders</a></li>
										<li><a href="restaurant-bookings.html"><i class="icon-file-text2 "></i>Bookings</a></li>
										<li><a href="restaurant-reviews.html"><i class="icon-comment2"></i>Reviews</a></li>
										<li><a href="restaurant-memberships.html"><i class="icon-card_membership"></i>Memberships</a></li>
										<li class="active"><a href="restaurant-withdrawals.html"><i class="icon-bill"></i>Withdrawals</a></li>
										<li><a href="restaurant-earnings.html"><i class="icon-money"></i>Earnings</a></li>
										<li><a href="restaurant-statement.html"><i class="icon-file-text22"></i>Statement</a></li>
										<li><a href="restaurant-team-management.html"><i class="icon-flow-tree"></i>Team Management</a></li>
										<li><a href="restaurant-change-password.html"><i class="icon-unlock-alt"></i>Change Password</a></li>
										<li><a id="profile_delete" href="#"><i class="icon-delete"></i>Delete Profile</a></li>
										<li><a class="logout-btn" href="registration.html"><i class="icon-log-out"></i>Signout</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="user-dashboard loader-holder">
							<div class="user-holder">
								<div class="publisher-withdrawal-form">
									<div class="element-title has-border right-filters-row">
										<h5>Withdrawals</h5>
										<div class="right-filters row pull-right">
											<div class="col-lg-6 col-md-6 col-xs-6 text-right">
												<button id="dev-open-withdraw-req-box" class="btn-submit" type="button">Withdrawal Request</button>
											</div>
											<div class="col-lg-6 col-md-6 col-xs-6">
												<div class="input-field">
													<i class="icon-angle-down"></i>
													<input type="text" data-id="daterange223" id="daterange" value="" placeholder="Select Date Range">
													<script>
														$(function () {
															$('input[data-id="daterange223"]').daterangepicker({
																opens: 'left'
															}, function (start, end, label) {
																console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
															});
														});
													</script>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="responsive-table">
									<ul class="table-generic">
										<li class="order-heading-titles">
											<div>Id</div>
											<div>Date</div>
											<div>Amount</div>
											<div>Status</div>
										</li>
										<li class="order-heading-titles">
											<div>withdrawal-22623</div>
											<div>Apr 9,2020</div>
											<div>£10.00</div>
											<div>Pending</div>
										</li>
										<li class="order-heading-titles">
											<div>withdrawal-22622</div>
											<div>Apr 9,2020</div>
											<div>£10.00</div>
											<div>Approved</div>
										</li>
										<li class="order-heading-titles">
											<div>withdrawal-22621</div>
											<div>Apr 9,2020</div>
											<div>£20.00</div>
											<div>Approved</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main Section End -->
{% endblock %}
