{% extends 'base.html' %}
{% load static %}

{% block title %}Earnings{% endblock %}

{% block content %}
<!-- Main Section Start -->
		<div class="main-section">
			<div class="page-section restaurant-detail-image-section" style=" background: url({% static 'extra-images/cover-photo01.jpg' %}) no-repeat scroll 0 0 / cover;">
				<!-- Container Start -->
				<div class="container">
					<!-- Row Start -->
					<div class="row">
						<!-- Column Start -->
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="company-info-detail">
								<div class="company-info">
									<div class="img-holder">
										<figure>
											<img src="{% static 'extra-images/listing-logo18.png' %}" alt="">
										</figure>
									</div>

									<div class="text-holder">
										<span class="restaurant-title">Restaurant Demo</span>
										<div class="text">
											<i class="icon-local_pizza"></i>
											<p>Apple Juice</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Column End -->
					</div>
					<!-- Row End -->
				</div>
				<!-- Container End -->
			</div>
			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="user-account-nav user-account-sidebar">
								<div class="user-nav-list">
									<ul>
										<li><a href="restaurant-dashboard.html"><i class="icon-dashboard3"></i>Dashboard</a></li>
										<li><a href="restaurant-restaurant.html"><i class="icon-building"></i>My Restaurant</a></li>
										<li><a href="restaurant-menu-builder.html"><i class="icon-menu5"></i>Menu Builder</a></li>
										<li><a href="restaurant-orders.html"><i class="icon-add_shopping_cart"></i>Orders</a></li>
										<li><a href="restaurant-bookings.html"><i class="icon-file-text2 "></i>Bookings</a></li>
										<li><a href="restaurant-reviews.html"><i class="icon-comment2"></i>Reviews</a></li>
										<li><a href="restaurant-memberships.html"><i class="icon-card_membership"></i>Memberships</a></li>
										<li><a href="restaurant-withdrawals.html"><i class="icon-bill"></i>Withdrawals</a></li>
										<li class="active"><a href="restaurant-earnings.html"><i class="icon-money"></i>Earnings</a></li>
										<li><a href="restaurant-statement.html"><i class="icon-file-text22"></i>Statement</a></li>
										<li><a href="restaurant-team-management.html"><i class="icon-flow-tree"></i>Team Management</a></li>
										<li><a href="restaurant-change-password.html"><i class="icon-unlock-alt"></i>Change Password</a></li>
										<li><a id="profile_delete" href="#"><i class="icon-delete"></i>Delete Profile</a></li>
										<li><a class="logout-btn" href="registration.html"><i class="icon-log-out"></i>Signout</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard">
								<div class="user-holder">
									<ul class="earning-calculation">
										<li>Earnings of this month is: <strong> £400.06</strong></li>
										<li>Your balance: <strong> £370.06</strong></li>
										<li>Total value of your sales : <strong> £444.49</strong></li>
										<li>Your Total Withdrawals:<a href="#"><span>(View withdrawal history)</span></a><strong> £30</strong></li>
									</ul>
									<div class="element-title right-filters-row">
										<h5>Earnings</h5>
										<div class="right-filters row">
											<div class="col-lg-6 col-md-6 col-xs-6 pull-right">
												<div class="input-field">
													<i class="icon-angle-down"></i>
													<input type="text" data-id="daterange223" id="daterange" value="" placeholder="Select Date Range">
													<script>
														$(function () {
															$('input[data-id="daterange223"]').daterangepicker({
																opens: 'left'
															}, function (start, end, label) {
																console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
															});
														});
													</script>
												</div>
											</div>
										</div>
									</div>
									<div class="earnings-container-inner">
										<div class="tab-content">
											<div id="menu2" class="responsive-table tab-pane fade in active">
												<ul class="table-generic">
													<li class="order-heading-titles">
														<div>Date</div>
														<div>Total Sales</div>
														<div>Total Earnings</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 10,2020</div>
														<div>£50.85</div>
														<div>£45.77</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 11,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 12,2020</div>
														<div>£31.64</div>
														<div>£28.48</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 13,2020</div>
														<div>£29.95</div>
														<div>£26.96</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 14,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 15,2020</div>
														<div>£36.73</div>
														<div>£33.06</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 16,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 17,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 18,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 19,2020</div>
														<div>£33.90</div>
														<div>£30.51</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 20,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 21,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 22,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 23,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 24,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 25,2020</div>
														<div>£37.29</div>
														<div>£33.56</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 26,2020</div>
														<div>£29.38</div>
														<div>£26.44</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 27,2020</div>
														<div>£25.43</div>
														<div>£22.89</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 28,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 29,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 30,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Mar 31,2020</div>
														<div>£66.25</div>
														<div>£59.63</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 1,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 2,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 3,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 4,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 5,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 6,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 7,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 8,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 9,2020</div>
														<div>£103.07</div>
														<div>£92.76</div>
													</li>
													<li class="order-heading-titles">
														<div>Apr 10,2020</div>
														<div>£0.00</div>
														<div>£0.00</div>
													</li>
													<li class="order-heading-titles">
														<div>&nbsp;</div>
														<div><b>Total Earnings:</b></div>
														<div><b>£400.06</b></div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->
{% endblock %}
